* {
    padding: 0;
    margin: 0;

}
body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Asegura que el cuerpo ocupe al menos el 100% de la altura de la ventana */
}
header {
    background: #000;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.fa-solid{
    color: #fff;
    padding-right: 20px;
}
.left-section, .right-section {
    display: flex;
    align-items: center;
}

.center-section {
    flex-grow: 1;
    text-align: center;
    width: 1500%;
}

.logo {
    max-width: 100%;
    height: auto;
}

.brand {
    margin: 0;
}

.logo {
    width: 50px; /* Ajusta el ancho de la imagen según sea necesario */
    height: auto;
}

.content {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f0f0f0; /* Color de fondo de la columna */
    padding: 20px;
}
  
.centered-column {
    text-align: center;
}
  
footer {
    background-color: #000;
    color: #fff;
    padding: 10px;
    text-align: center;
}
  

.pie{
    background-color: #524b4a;
}
img{
    width: 80px;
}
.imagen{
    font-size: 60px;
    display: flex;
    align-items: center;
   /* background-color: yellow;*/
    gap: 10px;
    
}


.section a{
    color: white;
    text-decoration: none;
    padding: 5px;
}
form{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
input{
    background: none;
    border: solid 2px white;
    padding: 10px;
}
button{
    padding: 10px 20px;
    background-color: white;
}

.redes {
    display: block;
    background-color: pink;
}

.imagen img{
    height: 80px;
    width: 140px;
}

.body_inicio {
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.inicio_boton {
    display: block;
    width: 200px;
    height: 50px;
    margin: 10px;
    background-color: white;
    border: 2px solid black;
    color: black;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    line-height: 50px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.inicio_boton:hover {
    background-color: black;
    color: white;
}

.inicio_remeras {
    border-color: rgb(255, 255, 255);
}

.inicio_buzos {
    border-color: rgb(255, 255, 255);
}

.inicio_pantalones {
    border-color: rgb(255, 255, 255);
}

.inicio_crear {
    border-color: rgb(255, 255, 255);
}

.body_inicio h1{
    color: white;
}



#list .row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    margin: 30px; /* Espaciado entre las tarjetas */
}


