<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body class="body_inicio">
    <header>
        <img src="/img/tempFileForShare_20231117-131407.png" alt="">
    </header>
    <main>
        <a href="/remeras" class="inicio_boton inicio_remeras">Remeras</a>
        <a href="/buzos" class="inicio_boton inicio_buzos">Buzos</a>
        <a href="/pantalones" class="inicio_boton inicio_pantalones">Pantalones</a>
    </main>


<script src="/js/script.js"></script>

</body>
</html>
